In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import seaborn as sns
import statsmodels.formula.api as smf

# this allows plots to appear directly in the notebook
%matplotlib inline

In [2]:
df = pd.read_excel('RT370.xlsx')
df

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,146.126.51.51,R_20YBMvuxAfxL0nT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151.142.232.132,R_DjicqBeOjWMWWo9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53.0,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,Strongly agree,Strongly disagree,Strongly disagree,Strongly disagree,Agree
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,Agree,Disagree,Agree,Agree,Agree
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55.0,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,Strongly agree,Strongly agree,Strongly disagree,Strongly disagree,Strongly agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57.0,Male,USA,NaN,English,NaN,...,1,0,0,6,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6669,96.233.150.114,R_1r8ESF1AZcDHYF1,NaN,NaN,32.0,Male,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6670,172.58.190.225,R_03B9FmboixemUx3,NaN,NaN,38.0,Male,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6671,67.11.229.225,R_2rT2CbWl2p5pQtC,NaN,NaN,48.0,Male,USA,NaN,Spanish,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59.0,Male,USA,NaN,English,NaN,...,0,0,0,9,1,Strongly agree,Strongly agree,Strongly disagree,Disagree,Strongly agree

In [3]:
data_GSS=pd.read_excel('GSS.xlsx')
data_GSS

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,Disagree,Agree,Never,Rarely,Very true
1,Strongly agree,Strongly agree,Never,Never,Somewhat true
2,Agree,Agree,Often,Sometimes,Somewhat true
3,Strongly agree,Strongly agree,Sometimes,Sometimes,Somewhat true
4,Agree,Agree,Never,Never,Not too true
...,...,...,...,...,...
1235,Agree,Disagree,NaN,NaN,Somewhat true
1236,Agree,Agree,NaN,NaN,Not at all true
1237,Strongly agree,Disagree,NaN,NaN,Very true
1238,Agree,Agree,NaN,NaN,Very true
1239,Agree,Agree,NaN,NaN,Very true

In [4]:
data_culture = df.dropna(subset = ["Reliable_Coworkers","Derogatory_Comments","Treated_Unprofessionally","Productive","Respect"])
data_culture

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53.0,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,Strongly agree,Strongly disagree,Strongly disagree,Strongly disagree,Agree
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,Agree,Disagree,Agree,Agree,Agree
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55.0,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,Strongly agree,Strongly agree,Strongly disagree,Strongly disagree,Strongly agree
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27.0,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,1,2,0,0,Strongly agree,Agree,Disagree,Disagree,Agree
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31.0,Male,USA,NaN,English,NaN,...,0,2,1,4,0,Strongly agree,Agree,Strongly disagree,Strongly disagree,Disagree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48.0,Male,USA,NaN,English,NaN,...,0,8,0,5,0,Agree,Disagree,Disagree,Disagree,Agree
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44.0,Male,USA,NaN,English,NaN,...,0,2,5,3,0,Agree,Agree,Disagree,Disagree,Disagree
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48.0,Male,USA,NaN,English,NaN,...,0,0,1,7,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57.0,Male,USA,NaN,English,NaN,...,1,0,0,6,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59.0,Male,USA,NaN,English,NaN,...,0,0,0,9,1,Strongly agree,Strongly agree,Strongly disagree,Disagree,Strongly agree

In [5]:
def recode_culture(x): 
    if x == 'Strongly disagree' or x == 'Never' or x == 'Not at all true': 
        return 1
    elif x == 'Disagree' or x == 'Rarely' or x == 'Not too true': 
        return 2
    elif x == "Don't Know" or x == 'Dont know': 
        return 3    
    elif x == 'Agree' or x == 'Sometimes' or x == 'Somewhat true': 
        return 4
    elif x == 'Strongly agree' or x == 'Often' or x == 'Very true': 
        return 5
    else: 
        return None

In [6]:
data_culture['Respect'] = data_culture['Respect'].apply(recode_culture)
data_culture['Respect'].value_counts()

<ipython-input-6-1ef6a2028d5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Respect'] = data_culture['Respect'].apply(recode_culture)

4    1252
5    1216
2     160
3      62
1      50
Name: Respect, dtype: int64

In [7]:
data_culture['Productive'] = data_culture['Productive'].apply(recode_culture)
data_culture['Productive'].value_counts()

<ipython-input-7-466777403654>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Productive'] = data_culture['Productive'].apply(recode_culture)

4    1416
5     789
2     408
1      93
3      34
Name: Productive, dtype: int64

In [8]:
data_culture['Treated_Unprofessionally'] = data_culture['Treated_Unprofessionally'].apply(recode_culture)
data_culture['Treated_Unprofessionally'].value_counts()

<ipython-input-8-80bcb3a1b82f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Treated_Unprofessionally'] = data_culture['Treated_Unprofessionally'].apply(recode_culture)

1    1432
2     857
4     269
5     102
3      80
Name: Treated_Unprofessionally, dtype: int64

In [9]:
data_culture['Derogatory_Comments'] = data_culture['Derogatory_Comments'].apply(recode_culture)
data_culture['Derogatory_Comments'].value_counts()

<ipython-input-9-f4999d7337c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Derogatory_Comments'] = data_culture['Derogatory_Comments'].apply(recode_culture)

1    1192
2     777
4     444
3     191
5     136
Name: Derogatory_Comments, dtype: int64

In [10]:
data_culture['Reliable_Coworkers'] = data_culture['Reliable_Coworkers'].apply(recode_culture)
data_culture['Reliable_Coworkers'].value_counts()

<ipython-input-10-14d0199abf39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Reliable_Coworkers'] = data_culture['Reliable_Coworkers'].apply(recode_culture)

4    1382
5    1146
2     128
3      46
1      38
Name: Reliable_Coworkers, dtype: int64

In [11]:
data_culture

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53.0,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,5,1,1,1,4
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,4,2,4,4,4
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55.0,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,5,5,1,1,5
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27.0,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,1,2,0,0,5,4,2,2,4
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31.0,Male,USA,NaN,English,NaN,...,0,2,1,4,0,5,4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48.0,Male,USA,NaN,English,NaN,...,0,8,0,5,0,4,2,2,2,4
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44.0,Male,USA,NaN,English,NaN,...,0,2,5,3,0,4,4,2,2,2
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48.0,Male,USA,NaN,English,NaN,...,0,0,1,7,0,5,5,1,4,4
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57.0,Male,USA,NaN,English,NaN,...,1,0,0,6,0,5,5,1,4,4
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59.0,Male,USA,NaN,English,NaN,...,0,0,0,9,1,5,5,1,2,5

In [12]:
data_GSS['Respect'] = data_GSS['Respect'].apply(recode_culture)
data_GSS['Respect'].value_counts()

4    701
5    441
2     77
1     21
Name: Respect, dtype: int64

In [13]:
data_GSS['Productive'] = data_GSS['Productive'].apply(recode_culture)
data_GSS['Productive'].value_counts()

4    749
5    351
2    120
1     17
3      3
Name: Productive, dtype: int64

In [14]:
data_GSS['Treated_Unprofessionally'] = data_GSS['Treated_Unprofessionally'].apply(recode_culture)
data_GSS['Treated_Unprofessionally'].value_counts()

1.0    641
2.0    311
4.0    132
5.0     38
3.0      2
Name: Treated_Unprofessionally, dtype: int64

In [15]:
data_GSS['Derogatory_Comments'] = data_GSS['Derogatory_Comments'].apply(recode_culture)
data_GSS['Derogatory_Comments'].value_counts()

1.0    819
2.0    180
4.0     95
5.0     30
Name: Derogatory_Comments, dtype: int64

In [16]:
data_GSS['Reliable_Coworkers'] = data_GSS['Reliable_Coworkers'].apply(recode_culture)
data_GSS['Reliable_Coworkers'].value_counts()

5    646
4    463
2     79
1     45
3      7
Name: Reliable_Coworkers, dtype: int64

In [17]:
data_GSS

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,2,4,1.0,2.0,5
1,5,5,1.0,1.0,4
2,4,4,5.0,4.0,4
3,5,5,4.0,4.0,4
4,4,4,1.0,1.0,2
...,...,...,...,...,...
1235,4,2,NaN,NaN,4
1236,4,4,NaN,NaN,1
1237,5,2,NaN,NaN,5
1238,4,4,NaN,NaN,5
1239,4,4,NaN,NaN,5

In [18]:
Respect_Gender=data_culture['Respect'].groupby(data_culture['Gender']).mean().to_frame(name='Respect')
Respect_Gender

         Respect
Gender
Female  3.789855
Male    4.275407
Other   3.571429

In [19]:
Productive_Gender=data_culture['Productive'].groupby(data_culture['Gender']).mean().to_frame(name='Productive')
Productive_Gender

        Productive
Gender
Female    3.326087
Male      3.908844
Other     2.857143

In [20]:
Treated_Unprofessionally_Gender=data_culture['Treated_Unprofessionally'].groupby(data_culture['Gender']).mean().to_frame(name='Treated_Unprofessionally')
Treated_Unprofessionally_Gender

        Treated_Unprofessionally
Gender
Female                  2.500000
Male                    1.777735
Other                   2.000000

In [21]:
Derogatory_Comments_Gender=data_culture['Derogatory_Comments'].groupby(data_culture['Gender']).mean().to_frame(name='Derogatory_Comments')
Derogatory_Comments_Gender

        Derogatory_Comments
Gender
Female             2.949275
Male               2.060124
Other              2.857143

In [22]:
Reliable_Coworkers_Gender=data_culture['Reliable_Coworkers'].groupby(data_culture['Gender']).mean().to_frame(name='Reliable_Coworkers')
Reliable_Coworkers_Gender

        Reliable_Coworkers
Gender
Female            4.007246
Male              4.280838
Other             3.714286

In [23]:
data_culture_Gender1 = pd.merge(Respect_Gender, Productive_Gender, on='Gender', how = 'inner')
data_culture_Gender1

         Respect  Productive
Gender
Female  3.789855    3.326087
Male    4.275407    3.908844
Other   3.571429    2.857143

In [24]:
data_culture_Gender2 = pd.merge(Treated_Unprofessionally_Gender, Derogatory_Comments_Gender, on='Gender', how = 'inner')
data_culture_Gender2

        Treated_Unprofessionally  Derogatory_Comments
Gender
Female                  2.500000             2.949275
Male                    1.777735             2.060124
Other                   2.000000             2.857143

In [25]:
data_culture_Gender3 = pd.merge(data_culture_Gender1, data_culture_Gender2, on='Gender', how = 'inner')
data_culture_Gender3

         Respect  Productive  Treated_Unprofessionally  Derogatory_Comments
Gender
Female  3.789855    3.326087                  2.500000             2.949275
Male    4.275407    3.908844                  1.777735             2.060124
Other   3.571429    2.857143                  2.000000             2.857143

In [26]:
data_culture_Gender = pd.merge(data_culture_Gender3, Reliable_Coworkers_Gender, on='Gender', how = 'inner')
data_culture_Gender

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
Gender,,,,,
Female,3.789855,3.326087,2.500000,2.949275,4.007246
Male,4.275407,3.908844,1.777735,2.060124,4.280838
Other,3.571429,2.857143,2.000000,2.857143,3.714286

In [27]:
data_culture_male=data_culture[data_culture['Gender']=='Male']
data_culture_male

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53.0,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,5,1,1,1,4
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,4,2,4,4,4
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55.0,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,5,5,1,1,5
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27.0,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,1,2,0,0,5,4,2,2,4
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31.0,Male,USA,NaN,English,NaN,...,0,2,1,4,0,5,4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48.0,Male,USA,NaN,English,NaN,...,0,8,0,5,0,4,2,2,2,4
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44.0,Male,USA,NaN,English,NaN,...,0,2,5,3,0,4,4,2,2,2
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48.0,Male,USA,NaN,English,NaN,...,0,0,1,7,0,5,5,1,4,4
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57.0,Male,USA,NaN,English,NaN,...,1,0,0,6,0,5,5,1,4,4
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59.0,Male,USA,NaN,English,NaN,...,0,0,0,9,1,5,5,1,2,5

In [28]:
data_culture_female=data_culture[data_culture['Gender']=='Female']
data_culture_female

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
19,158.57.150.68,R_3QPMGjrqCj7w1aP,40.813599,-73.938400,29.0,Female,USA,NaN,English,NaN,...,0,2,0,8,0,4,2,2,4,4
31,158.57.150.68,R_3KuyTQaH4pHmbfu,40.725204,-73.944000,NaN,Female,USA,NaN,English,NaN,...,0,6,4,4,0,4,2,2,4,2
42,174.235.1.178,R_ABRN0PwPE5G9JTP,29.828400,-95.469597,21.0,Female,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,4,4,2,4,5
47,73.76.187.252,R_1oF4Y4OXvkHlHnZ,29.775604,-95.308197,40.0,Female,USA,NaN,English,NaN,...,1,2,2,1,0,5,5,1,1,5
65,98.194.167.6,R_3PG0uqcQt2v1n9b,29.651505,-95.190903,51.0,Female,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,5,5,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6411,174.244.145.11,R_2TCaEVopbcBIhoV,40.673904,-73.935799,61.0,Female,USA,NaN,English,NaN,...,Don't Know,Don't Know,Don't Know,Don't Know,Don't Know,5,4,2,2,4
6510,140.186.226.106,R_3KW2cxup8pZmUsE,45.268005,-92.974297,55.0,Female,NaN,NaN,English,NaN,...,1,0,0,6,0,4,4,1,1,5
6533,173.81.98.195,R_3g6G3hUUPWePcCQ,38.317307,-81.590302,35.0,Female,NaN,NaN,English,NaN,...,1,0,0,3,0,4,4,1,1,4
6582,63.47.54.135,R_TbfMXYxNKRFOozT,29.558395,-98.743500,44.0,Female,USA,NaN,Spanish,NaN,...,0,1,3,1,0,5,2,4,2,5
6660,68.206.40.226,R_xrpUGxpq5HKiggx,29.940598,-93.915199,50.0,Female,USA,NaN,English,NaN,...,1,2,6,2,0,4,4,4,4,2

In [29]:
data_culture_Gender=data_culture_Gender.T
data_culture_Gender

Gender                      Female      Male     Other
Respect                   3.789855  4.275407  3.571429
Productive                3.326087  3.908844  2.857143
Treated_Unprofessionally  2.500000  1.777735  2.000000
Derogatory_Comments       2.949275  2.060124  2.857143
Reliable_Coworkers        4.007246  4.280838  3.714286

In [30]:
data_culture_Gender=data_culture_Gender.drop(columns=['Other'])
data_culture_Gender

Gender                      Female      Male
Respect                   3.789855  4.275407
Productive                3.326087  3.908844
Treated_Unprofessionally  2.500000  1.777735
Derogatory_Comments       2.949275  2.060124
Reliable_Coworkers        4.007246  4.280838

In [31]:
data_culture_Gender['Difference']=data_culture_Gender['Female']-data_culture_Gender['Male']

In [32]:
data_culture_Gender

Gender                      Female      Male  Difference
Respect                   3.789855  4.275407   -0.485552
Productive                3.326087  3.908844   -0.582757
Treated_Unprofessionally  2.500000  1.777735    0.722265
Derogatory_Comments       2.949275  2.060124    0.889151
Reliable_Coworkers        4.007246  4.280838   -0.273591

In [33]:
data_culture_Gender['P_Value']=''
data_culture_Gender['Significance']=''

In [34]:
data_culture_Gender

Gender                      Female      Male  Difference P_Value Significance
Respect                   3.789855  4.275407   -0.485552
Productive                3.326087  3.908844   -0.582757
Treated_Unprofessionally  2.500000  1.777735    0.722265
Derogatory_Comments       2.949275  2.060124    0.889151
Reliable_Coworkers        4.007246  4.280838   -0.273591

In [35]:
culture=['Respect', 'Productive', 'Treated_Unprofessionally', 'Derogatory_Comments','Reliable_Coworkers']
len(culture)

for i in range(0,len(culture)):
    a, b = ttest_ind(data_culture_female[culture[i]], data_culture_male[culture[i]])
    data_culture_Gender['P_Value'][i]=b
    if i == 0 or i == 1 or i == 4:
        if data_culture_Gender['P_Value'][i]<0.05 and data_culture_Gender['Difference'][i]<0:
            data_culture_Gender['Significance'][i]='Worse and Statistically Significant'
        elif data_culture_Gender['P_Value'][i]>0.05 and data_culture_Gender['Difference'][i]<0:
            data_culture_Gender['Significance'][i]='Worse but NOT Statistically Significant'
        elif data_culture_Gender['P_Value'][i]<0.05 and data_culture_Gender['Difference'][i]>0:
            data_culture_Gender['Significance'][i]='Better and Statistically Significant'
        else:
            data_culture_Gender['Significance'][i]='Better but NOT Statistically Significant'
    else:
        if data_culture_Gender['P_Value'][i]<0.05 and data_culture_Gender['Difference'][i]<0:
            data_culture_Gender['Significance'][i]='Better and Statistically Significant'
        elif data_culture_Gender['P_Value'][i]>0.05 and data_culture_Gender['Difference'][i]<0:
            data_culture_Gender['Significance'][i]='Better but NOT Statistically Significant'
        elif data_culture_Gender['P_Value'][i]<0.05 and data_culture_Gender['Difference'][i]>0:
            data_culture_Gender['Significance'][i]='Worse and Statistically Significant'
        else:
            data_culture_Gender['Significance'][i]='Worse but NOT Statistically Significant'      
data_culture_Gender

<ipython-input-35-70a0a5a91203>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture_Gender['P_Value'][i]=b
<ipython-input-35-70a0a5a91203>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture_Gender['Significance'][i]='Worse and Statistically Significant'
<ipython-input-35-70a0a5a91203>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture_Gender['Significance'][i]='Worse and Statistically Significant'

Gender,Female,Male,Difference,P_Value,Significance
Respect,3.789855,4.275407,-0.485552,4.82772e-10,Worse and Statistically Significant
Productive,3.326087,3.908844,-0.582757,7.68507e-10,Worse and Statistically Significant
Treated_Unprofessionally,2.500000,1.777735,0.722265,1.08089e-13,Worse and Statistically Significant
Derogatory_Comments,2.949275,2.060124,0.889151,4.58965e-16,Worse and Statistically Significant
Reliable_Coworkers,4.007246,4.280838,-0.273591,0.000131949,Worse and Statistically Significant

In [36]:
culture_categories=(['Respect'], ['Productive'], ['Treated_Unprofessionally'], ['Derogatory_Comments'],['Reliable_Coworkers'])
data_culture_GSS=pd.DataFrame(culture_categories, columns=['Workforce'])
data_culture_GSS

                  Workforce
0                   Respect
1                Productive
2  Treated_Unprofessionally
3       Derogatory_Comments
4        Reliable_Coworkers

In [37]:
data_culture_GSS['Construction Workforce']=''
data_culture_GSS['National Workforce']=''
data_culture_GSS['Difference']=''
data_culture_GSS['P_Value']=''
data_culture_GSS['Significance']=''

for i in range(0,len(culture)):
    data_culture_GSS['Construction Workforce'][i]=data_culture[culture[i]].mean()
    data_culture_GSS['National Workforce'][i]=data_GSS[culture[i]].mean()
    data_culture_GSS['Difference'][i]=data_culture_GSS['Construction Workforce'][i]-data_culture_GSS['National Workforce'][i]
    if i == 0 or i == 1 or i == 4:
        a, b = ttest_ind(data_culture[culture[i]], data_GSS[culture[i]])
        data_culture_GSS['P_Value'][i]=b
        if data_culture_GSS['P_Value'][i]<0.05 and data_culture_GSS['Difference'][i]<0:
            data_culture_GSS['Significance'][i]='Worse and Statistically Significant'
        elif data_culture_GSS['P_Value'][i]>0.05 and data_culture_GSS['Difference'][i]<0:
            data_culture_GSS['Significance'][i]='Worse but NOT Statistically Significant'
        elif data_culture_GSS['P_Value'][i]<0.05 and data_culture_GSS['Difference'][i]>0:
            data_culture_GSS['Significance'][i]='Better and Statistically Significant'
        else:
            data_culture_GSS['Significance'][i]='Better but NOT Statistically Significant'
    else:
        a, b = ttest_ind(data_culture[culture[i]], data_GSS.dropna()[culture[i]])
        data_culture_GSS['P_Value'][i]=b
        if data_culture_GSS['P_Value'][i]<0.05 and data_culture_GSS['Difference'][i]<0:
            data_culture_GSS['Significance'][i]='Better and Statistically Significant'
        elif data_culture_GSS['P_Value'][i]>0.05 and data_culture_GSS['Difference'][i]<0:
            data_culture_GSS['Significance'][i]='Better but NOT Statistically Significant'
        elif data_culture_GSS['P_Value'][i]<0.05 and data_culture_GSS['Difference'][i]>0:
            data_culture_GSS['Significance'][i]='Worse and Statistically Significant'
        else:
            data_culture_GSS['Significance'][i]='Worse but NOT Statistically Significant'
        
data_culture_GSS

,Workforce,Construction Workforce,National Workforce,Difference,P_Value,Significance
0,Respect,4.24964,4.18065,0.0689899,0.0223464,Better and Statistically Significant
1,Productive,3.87591,4.04597,-0.170055,1.51952e-06,Worse and Statistically Significant
2,Treated_Unprofessionally,1.8146,1.76779,0.0468049,0.2391,Worse but NOT Statistically Significant
3,Derogatory_Comments,2.10766,1.52046,0.587202,2.10005e-42,Worse and Statistically Significant
4,Reliable_Coworkers,4.26642,4.27903,-0.0126089,0.67788,Worse but NOT Statistically Significant

In [38]:
data_culture['Gender_coded']=data_culture['Gender']
def recode_gender(x): 
    if x == 'Male': 
        return 1
    elif x == 'Female' or x == 'Other': 
        return 0
    else:
        return None
data_culture['Gender_coded'] = data_culture['Gender_coded'].apply(recode_gender)
data_culture['Gender_coded'].value_counts()

<ipython-input-38-9a1a52d9ac7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Gender_coded']=data_culture['Gender']
<ipython-input-38-9a1a52d9ac7a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Gender_coded'] = data_culture['Gender_coded'].apply(recode_gender)

1.0    2578
0.0     145
Name: Gender_coded, dtype: int64

In [39]:
data_culture['Origin_coded']=data_culture['Country_Of_Origin']
def recode_origin(x): 
    if x == 'USA': 
        return 1
    else:
        return 0
data_culture['Origin_coded'] = data_culture['Origin_coded'].apply(recode_origin)
data_culture['Origin_coded'].value_counts()

<ipython-input-39-71f8dd071a12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Origin_coded']=data_culture['Country_Of_Origin']
<ipython-input-39-71f8dd071a12>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Origin_coded'] = data_culture['Origin_coded'].apply(recode_origin)

1    2414
0     326
Name: Origin_coded, dtype: int64

In [40]:
Derogatory_Comments_Origin=data_culture['Derogatory_Comments'].groupby(data_culture['Education']).mean().to_frame(name='Derogatory_Comments')
Derogatory_Comments_Origin

                                               Derogatory_Comments
Education
0-8 years of school  \t                                   2.000000
Associate degree (2-year program)                         2.265432
Bachelor’s degree (4-year program)                        2.192982
Completed technical program                               2.178147
GED equivalent         \t                                 2.074074
High school diploma\t                                     1.998314
Master’s degree                                           2.545455
Other (please specify)                                    1.883333
Ph.D.                                                     2.500000
Some college (No degree)                                  2.054697
Some high school   \t\t                                   2.169492
Some post graduate education (Masters, Ph.D.)             2.290323

In [41]:
data_culture['Education'].value_counts()

Some college (No degree)                         841
High school diploma\t                            593
Completed technical program                      421
Associate degree (2-year program)                324
Bachelor’s degree (4-year program)               228
GED equivalent         \t                        135
Other (please specify)                            60
Some high school   \t\t                           59
Master’s degree                                   33
Some post graduate education (Masters, Ph.D.)     31
0-8 years of school  \t                            7
Ph.D.                                              4
Name: Education, dtype: int64

In [42]:
data_culture['Education_coded'].value_counts()

Some College or Technical Program    1646
High School or Less                   794
Bachelor or Higher                    296
Name: Education_coded, dtype: int64

In [43]:
#data_culture['Education_coded']=data_culture['Education']
#def recode_education(x): 
#    if x == '0-8 years of school' or x == 'GED equivalent' or x == 'Some high school' or x == 'High school diploma': 
#        return 'High School or Less'
#    elif x == 'Associate degree (2-year program)' or x == 'Completed technical program' or x == 'Some college (No degree)' or x == 'Other (please specify)':
#        return 'Some College or Technical Training'
#    elif x == 'Bachelor’s degree (4-year program)' or x == 'Master’s degree' or x == 'Ph.D.' or x == 'Some post graduate education (Masters, Ph.D.)':
#        return 'Bachelor or Higher'
#    else:
#        return None
#   
#data_culture['Education_coded'] = data_culture['Education_coded'].apply(recode_education)
#data_culture['Education_coded'].value_counts()

In [44]:
Derogatory_Comments_Origin=data_culture['Derogatory_Comments'].groupby(data_culture['Education_coded']).mean().to_frame(name='Derogatory_Comments')
Derogatory_Comments_Origin

                                   Derogatory_Comments
Education_coded
Bachelor or Higher                            2.246622
High School or Less                           2.023929
Some College or Technical Program             2.121507

In [45]:
data_culture['Supervisor']=data_culture['13a']
def recode_supervisor(x): 
    if x == 'Yes': 
        return 1
    elif x == 'No':
        return 0
    else:
        return None
data_culture['Supervisor'] = data_culture['Supervisor'].apply(recode_supervisor)
data_culture['Supervisor'].value_counts()

<ipython-input-45-d5165acc3f82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Supervisor']=data_culture['13a']
<ipython-input-45-d5165acc3f82>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Supervisor'] = data_culture['Supervisor'].apply(recode_supervisor)

1.0    1411
0.0    1327
Name: Supervisor, dtype: int64

In [46]:
data_culture['Native_Language_coded']=data_culture['Native_Language']
def recode_Native_Language(x): 
    if x == 'English': 
        return 1
    elif x == 'Spanish' or x == 'Other (Please Specify)':
        return 0
    else:
        return None
data_culture['Native_Language_coded'] = data_culture['Native_Language'].apply(recode_Native_Language)
data_culture['Native_Language_coded'].value_counts()

<ipython-input-46-aa35279bbffc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Native_Language_coded']=data_culture['Native_Language']
<ipython-input-46-aa35279bbffc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Native_Language_coded'] = data_culture['Native_Language'].apply(recode_Native_Language)

1.0    2572
0.0     164
Name: Native_Language_coded, dtype: int64

In [47]:
mod_Respect = smf.ols(formula="Respect \
                       ~ Age \
                       + Gender_coded \
                       + Native_Language_coded \
                       + C(Education_coded) \
                       + Supervisor \
                       + Origin_coded", 
              data=data_culture)
reg_Respect = mod_Respect.fit()
print(reg_Respect.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Respect   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.050
Method:                 Least Squares   F-statistic:                     19.73
Date:                Tue, 27 Apr 2021   Prob (F-statistic):           7.01e-26
Time:                        16:00:43   Log-Likelihood:                -3214.5
No. Observations:                2504   AIC:                             6445.
Df Residuals:                    2496   BIC:                             6492.
Df Model:                           7
Covariance Type:            nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                   3.6609      0.125     29.228      0.000       3.415       3.906
C(Education_coded)[T.High School or Less]                   0.0213      0.062      0.341      0.733      -0.101       0.143
C(Education_coded)[T.Some College or Technical Program]    -0.0126      0.057     -0.221      0.825      -0.125       0.099
Age                                                         0.0005      0.002      0.354      0.723      -0.002       0.004
Gender_coded                                                0.4348      0.079      5.500      0.000       0.280       0.590
Native_Language_coded                                      -0.0572      0.084     -0.677      0.499      -0.223       0.108
Supervisor                                                  0.3332      0.036      9.226      0.000       0.262       0.404
Origin_coded                                                0.0367      0.062      0.592      0.554      -0.085       0.158
==============================================================================
Omnibus:                      666.911   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1574.974
Skew:                          -1.473   Prob(JB):                         0.00
Kurtosis:                       5.534   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [48]:
mod_Productive = smf.ols(formula="Productive \
                       ~ Age \
                       + Gender_coded \
                       + Native_Language_coded \
                       + C(Education_coded) \
                       + Supervisor \
                       + Origin_coded", 
              data=data_culture)
reg_Productive = mod_Productive.fit()
print(reg_Productive.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Productive   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     11.37
Date:                Tue, 27 Apr 2021   Prob (F-statistic):           2.90e-14
Time:                        16:00:43   Log-Likelihood:                -3735.7
No. Observations:                2504   AIC:                             7487.
Df Residuals:                    2496   BIC:                             7534.
Df Model:                           7
Covariance Type:            nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                   3.3432      0.154     21.676      0.000       3.041       3.646
C(Education_coded)[T.High School or Less]                   0.0945      0.077      1.232      0.218      -0.056       0.245
C(Education_coded)[T.Some College or Technical Program]     0.0129      0.070      0.184      0.854      -0.125       0.151
Age                                                         0.0033      0.002      1.728      0.084      -0.000       0.007
Gender_coded                                                0.5513      0.097      5.664      0.000       0.360       0.742
Native_Language_coded                                      -0.2529      0.104     -2.431      0.015      -0.457      -0.049
Supervisor                                                  0.1960      0.044      4.407      0.000       0.109       0.283
Origin_coded                                               -0.0473      0.076     -0.620      0.535      -0.197       0.102
==============================================================================
Omnibus:                      311.181   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              436.246
Skew:                          -1.012   Prob(JB):                     1.86e-95
Kurtosis:                       3.289   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [49]:
mod_Treated_Unprofessionally = smf.ols(formula="Treated_Unprofessionally \
                       ~ Age \
                       + Gender_coded \
                       + Native_Language_coded \
                       + C(Education_coded) \
                       + Supervisor \
                       + Origin_coded", 
              data=data_culture)
reg_Treated_Unprofessionally = mod_Treated_Unprofessionally.fit()
print(reg_Treated_Unprofessionally.summary())

                               OLS Regression Results
====================================================================================
Dep. Variable:     Treated_Unprofessionally   R-squared:                       0.050
Model:                                  OLS   Adj. R-squared:                  0.047
Method:                       Least Squares   F-statistic:                     18.69
Date:                      Tue, 27 Apr 2021   Prob (F-statistic):           1.92e-24
Time:                              16:00:43   Log-Likelihood:                -3781.5
No. Observations:                      2504   AIC:                             7579.
Df Residuals:                          2496   BIC:                             7626.
Df Model:                                 7
Covariance Type:                  nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                   3.0504      0.157     19.419      0.000       2.742       3.358
C(Education_coded)[T.High School or Less]                  -0.1452      0.078     -1.859      0.063      -0.298       0.008
C(Education_coded)[T.Some College or Technical Program]    -0.0942      0.072     -1.314      0.189      -0.235       0.046
Age                                                        -0.0071      0.002     -3.726      0.000      -0.011      -0.003
Gender_coded                                               -0.5584      0.099     -5.633      0.000      -0.753      -0.364
Native_Language_coded                                      -0.0473      0.106     -0.446      0.655      -0.255       0.160
Supervisor                                                 -0.2995      0.045     -6.612      0.000      -0.388      -0.211
Origin_coded                                               -0.0890      0.078     -1.146      0.252      -0.241       0.063
==============================================================================
Omnibus:                      510.044   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              873.061
Skew:                           1.346   Prob(JB):                    2.61e-190
Kurtosis:                       4.059   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [50]:
mod_Derogatory_Comments = smf.ols(formula="Derogatory_Comments \
                       ~ Age \
                       + Gender_coded \
                       + Native_Language_coded \
                       + C(Education_coded) \
                       + Supervisor \
                       + Origin_coded", 
              data=data_culture)
reg_Derogatory_Comments = mod_Derogatory_Comments.fit()
print(reg_Derogatory_Comments.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     Derogatory_Comments   R-squared:                       0.038
Model:                             OLS   Adj. R-squared:                  0.035
Method:                  Least Squares   F-statistic:                     14.02
Date:                 Tue, 27 Apr 2021   Prob (F-statistic):           6.08e-18
Time:                         16:00:43   Log-Likelihood:                -4096.2
No. Observations:                 2504   AIC:                             8208.
Df Residuals:                     2496   BIC:                             8255.
Df Model:                            7
Covariance Type:             nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                   3.3641      0.178     18.887      0.000       3.015       3.713
C(Education_coded)[T.High School or Less]                  -0.1901      0.089     -2.146      0.032      -0.364      -0.016
C(Education_coded)[T.Some College or Technical Program]    -0.0804      0.081     -0.990      0.322      -0.240       0.079
Age                                                        -0.0073      0.002     -3.371      0.001      -0.012      -0.003
Gender_coded                                               -0.7918      0.112     -7.044      0.000      -1.012      -0.571
Native_Language_coded                                       0.1033      0.120      0.860      0.390      -0.132       0.339
Supervisor                                                 -0.1483      0.051     -2.887      0.004      -0.249      -0.048
Origin_coded                                               -0.0963      0.088     -1.093      0.275      -0.269       0.077
==============================================================================
Omnibus:                      268.232   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              308.120
Skew:                           0.821   Prob(JB):                     1.24e-67
Kurtosis:                       2.495   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [51]:
mod_Reliable_Coworkers = smf.ols(formula="Reliable_Coworkers \
                       ~ Age \
                       + Gender_coded \
                       + Native_Language_coded \
                       + C(Education_coded) \
                       + Supervisor \
                       + Origin_coded", 
              data=data_culture)
reg_Reliable_Coworkers = mod_Reliable_Coworkers.fit()
print(reg_Reliable_Coworkers.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     Reliable_Coworkers   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     6.696
Date:                Tue, 27 Apr 2021   Prob (F-statistic):           7.03e-08
Time:                        16:00:43   Log-Likelihood:                -3049.4
No. Observations:                2504   AIC:                             6115.
Df Residuals:                    2496   BIC:                             6161.
Df Model:                           7
Covariance Type:            nonrobust
===========================================================================================================================
                                                              coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                   3.9534      0.117     33.715      0.000       3.723       4.183
C(Education_coded)[T.High School or Less]                   0.0100      0.058      0.172      0.864      -0.104       0.124
C(Education_coded)[T.Some College or Technical Program]    -0.0448      0.053     -0.837      0.403      -0.150       0.060
Age                                                        -0.0023      0.001     -1.603      0.109      -0.005       0.001
Gender_coded                                                0.2463      0.074      3.328      0.001       0.101       0.391
Native_Language_coded                                       0.0784      0.079      0.991      0.322      -0.077       0.233
Supervisor                                                  0.1731      0.034      5.120      0.000       0.107       0.239
Origin_coded                                                0.0473      0.058      0.815      0.415      -0.066       0.161
==============================================================================
Omnibus:                      765.697   Durbin-Watson:                   1.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2249.657
Skew:                          -1.580   Prob(JB):                         0.00
Kurtosis:                       6.403   Cond. No.                         386.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [52]:
data_culture

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers,Gender_coded,Origin_coded,Supervisor,Native_Language_coded
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53.0,Male,USA,NaN,English,NaN,...,Don't Know,5,1,1,1,4,1.0,1,1.0,1.0
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,4,2,4,4,4,1.0,1,0.0,1.0
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55.0,Male,NaN,NaN,English,NaN,...,0,5,5,1,1,5,1.0,0,0.0,1.0
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27.0,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,5,4,2,2,4,1.0,0,1.0,0.0
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31.0,Male,USA,NaN,English,NaN,...,0,5,4,1,1,2,1.0,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48.0,Male,USA,NaN,English,NaN,...,0,4,2,2,2,4,1.0,1,0.0,1.0
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44.0,Male,USA,NaN,English,NaN,...,0,4,4,2,2,2,1.0,1,0.0,1.0
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48.0,Male,USA,NaN,English,NaN,...,0,5,5,1,4,4,1.0,1,1.0,1.0
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57.0,Male,USA,NaN,English,NaN,...,0,5,5,1,4,4,1.0,1,1.0,1.0
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59.0,Male,USA,NaN,English,NaN,...,1,5,5,1,2,5,1.0,1,0.0,1.0