In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('RT370.xlsx')
df

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,146.126.51.51,R_20YBMvuxAfxL0nT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151.142.232.132,R_DjicqBeOjWMWWo9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,Strongly agree,Strongly disagree,Strongly disagree,Strongly disagree,Agree
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,Agree,Disagree,Agree,Agree,Agree
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,Strongly agree,Strongly agree,Strongly disagree,Strongly disagree,Strongly agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57,Male,USA,NaN,English,NaN,...,1,0,0,6,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6669,96.233.150.114,R_1r8ESF1AZcDHYF1,NaN,NaN,32,Male,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6670,172.58.190.225,R_03B9FmboixemUx3,NaN,NaN,38,Male,USA,NaN,English,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6671,67.11.229.225,R_2rT2CbWl2p5pQtC,NaN,NaN,48,Male,USA,NaN,Spanish,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59,Male,USA,NaN,English,NaN,...,0,0,0,9,1,Strongly agree,Strongly agree,Strongly disagree,Disagree,Strongly agree

In [3]:
data_GSS=pd.read_excel('GSS.xlsx')
data_GSS

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,Disagree,Agree,Never,Rarely,Very true
1,Strongly agree,Strongly agree,Never,Never,Somewhat true
2,Agree,Agree,Often,Sometimes,Somewhat true
3,Strongly agree,Strongly agree,Sometimes,Sometimes,Somewhat true
4,Agree,Agree,Never,Never,Not too true
...,...,...,...,...,...
1235,Agree,Disagree,NaN,NaN,Somewhat true
1236,Agree,Agree,NaN,NaN,Not at all true
1237,Strongly agree,Disagree,NaN,NaN,Very true
1238,Agree,Agree,NaN,NaN,Very true
1239,Agree,Agree,NaN,NaN,Very true

In [4]:
data_culture = df.dropna(subset = ["Reliable_Coworkers","Derogatory_Comments","Treated_Unprofessionally","Productive","Respect"])
data_culture

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,Strongly agree,Strongly disagree,Strongly disagree,Strongly disagree,Agree
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,Agree,Disagree,Agree,Agree,Agree
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,Strongly agree,Strongly agree,Strongly disagree,Strongly disagree,Strongly agree
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,1,2,0,0,Strongly agree,Agree,Disagree,Disagree,Agree
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31,Male,USA,NaN,English,NaN,...,0,2,1,4,0,Strongly agree,Agree,Strongly disagree,Strongly disagree,Disagree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48,Male,USA,NaN,English,NaN,...,0,8,0,5,0,Agree,Disagree,Disagree,Disagree,Agree
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44,Male,USA,NaN,English,NaN,...,0,2,5,3,0,Agree,Agree,Disagree,Disagree,Disagree
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48,Male,USA,NaN,English,NaN,...,0,0,1,7,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57,Male,USA,NaN,English,NaN,...,1,0,0,6,0,Strongly agree,Strongly agree,Strongly disagree,Agree,Agree
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59,Male,USA,NaN,English,NaN,...,0,0,0,9,1,Strongly agree,Strongly agree,Strongly disagree,Disagree,Strongly agree

In [5]:
data_culture['Respect'].unique()

array(['Strongly agree', 'Agree', 'Disagree', 'Strongly disagree',
       "Don't Know"], dtype=object)

In [6]:
def recode_culture(x): 
    if x == 'Strongly disagree' or x == 'Never' or x == 'Not at all true': 
        return 1
    elif x == 'Disagree' or x == 'Rarely' or x == 'Not too true': 
        return 2
    elif x == "Don't Know" or x == 'Dont know': 
        return 3    
    elif x == 'Agree' or x == 'Sometimes' or x == 'Somewhat true': 
        return 4
    elif x == 'Strongly agree' or x == 'Often' or x == 'Very true': 
        return 5
    else: 
        return ''

In [7]:
data_culture['Respect'] = data_culture['Respect'].apply(recode_culture)
data_culture['Respect'].value_counts()

<ipython-input-7-1ef6a2028d5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Respect'] = data_culture['Respect'].apply(recode_culture)

4    1252
5    1216
2     160
3      62
1      50
Name: Respect, dtype: int64

In [8]:
data_culture['Productive'] = data_culture['Productive'].apply(recode_culture)
data_culture['Productive'].value_counts()

<ipython-input-8-466777403654>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Productive'] = data_culture['Productive'].apply(recode_culture)

4    1416
5     789
2     408
1      93
3      34
Name: Productive, dtype: int64

In [9]:
data_culture['Treated_Unprofessionally'] = data_culture['Treated_Unprofessionally'].apply(recode_culture)
data_culture['Treated_Unprofessionally'].value_counts()

<ipython-input-9-80bcb3a1b82f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Treated_Unprofessionally'] = data_culture['Treated_Unprofessionally'].apply(recode_culture)

1    1432
2     857
4     269
5     102
3      80
Name: Treated_Unprofessionally, dtype: int64

In [10]:
data_culture['Derogatory_Comments'] = data_culture['Derogatory_Comments'].apply(recode_culture)
data_culture['Derogatory_Comments'].value_counts()

<ipython-input-10-f4999d7337c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Derogatory_Comments'] = data_culture['Derogatory_Comments'].apply(recode_culture)

1    1192
2     777
4     444
3     191
5     136
Name: Derogatory_Comments, dtype: int64

In [11]:
data_culture['Reliable_Coworkers'] = data_culture['Reliable_Coworkers'].apply(recode_culture)
data_culture['Reliable_Coworkers'].value_counts()

<ipython-input-11-14d0199abf39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_culture['Reliable_Coworkers'] = data_culture['Reliable_Coworkers'].apply(recode_culture)

4    1382
5    1146
2     128
3      46
1      38
Name: Reliable_Coworkers, dtype: int64

In [12]:
data_culture

,IPAddress,ResponseId,LocationLatitude,LocationLongitude,Age,Gender,Country_Of_Origin,3_2_TEXT,Native_Language,4_3_TEXT,...,29b,29c,29d,29e,29f,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
2,198.8.7.70,R_3khT0JxvwpEF7K0,29.948105,-90.207001,53,Male,USA,NaN,English,NaN,...,2,Don't Know,Don't Know,Don't Know,Don't Know,5,1,1,1,4
3,73.164.63.240,R_pcQeA0IvpQdWlwt,44.760101,-93.274803,NaN,Male,USA,NaN,English,NaN,...,0,0,3,1,0,4,2,4,4,4
4,107.77.169.39,R_ptIm8z4UMUOdrX3,29.783905,-95.234901,55,Male,NaN,NaN,English,NaN,...,0,0,5,5,0,5,5,1,1,5
5,107.77.232.6,R_xrzemliHwvhhEnn,33.808807,-84.281502,27,Male,Other (Please Specify),Honduras,Spanish,NaN,...,0,1,2,0,0,5,4,2,2,4
6,174.197.71.23,R_Xooe0AWN0trK2Gt,33.075699,-96.782700,31,Male,USA,NaN,English,NaN,...,0,2,1,4,0,5,4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,107.77.234.181,R_3EsUdXhJop28eC3,33.748505,-84.387100,48,Male,USA,NaN,English,NaN,...,0,8,0,5,0,4,2,2,2,4
6665,174.240.14.50,R_3RkHZ4ch8hmfk66,29.773804,-95.405998,44,Male,USA,NaN,English,NaN,...,0,2,5,3,0,4,4,2,2,2
6666,74.102.13.161,R_b8DQj16bEecGVqh,40.957199,-74.160400,48,Male,USA,NaN,English,NaN,...,0,0,1,7,0,5,5,1,4,4
6668,172.58.228.232,R_1qdM6L0c1U5aBbE,40.847000,-73.861603,57,Male,USA,NaN,English,NaN,...,1,0,0,6,0,5,5,1,4,4
6672,96.248.76.249,R_DHaBmenf920Tvhf,39.865601,-75.094398,59,Male,USA,NaN,English,NaN,...,0,0,0,9,1,5,5,1,2,5

In [13]:
data_GSS['Respect'] = data_GSS['Respect'].apply(recode_culture)
data_GSS['Respect'].value_counts()

4    701
5    441
2     77
1     21
Name: Respect, dtype: int64

In [14]:
data_GSS

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,2,Agree,Never,Rarely,Very true
1,5,Strongly agree,Never,Never,Somewhat true
2,4,Agree,Often,Sometimes,Somewhat true
3,5,Strongly agree,Sometimes,Sometimes,Somewhat true
4,4,Agree,Never,Never,Not too true
...,...,...,...,...,...
1235,4,Disagree,NaN,NaN,Somewhat true
1236,4,Agree,NaN,NaN,Not at all true
1237,5,Disagree,NaN,NaN,Very true
1238,4,Agree,NaN,NaN,Very true
1239,4,Agree,NaN,NaN,Very true

In [15]:
data_GSS['Productive'] = data_GSS['Productive'].apply(recode_culture)
data_GSS['Productive'].value_counts()

4    749
5    351
2    120
1     17
3      3
Name: Productive, dtype: int64

In [16]:
data_GSS['Treated_Unprofessionally'] = data_GSS['Treated_Unprofessionally'].apply(recode_culture)
data_GSS['Treated_Unprofessionally'].value_counts()

1    641
2    311
4    132
     116
5     38
3      2
Name: Treated_Unprofessionally, dtype: int64

In [17]:
data_GSS['Derogatory_Comments'] = data_GSS['Derogatory_Comments'].apply(recode_culture)
data_GSS['Derogatory_Comments'].value_counts()

1    819
2    180
     116
4     95
5     30
Name: Derogatory_Comments, dtype: int64

In [18]:
data_GSS['Reliable_Coworkers'] = data_GSS['Reliable_Coworkers'].apply(recode_culture)
data_GSS['Reliable_Coworkers'].value_counts()

5    646
4    463
2     79
1     45
3      7
Name: Reliable_Coworkers, dtype: int64

In [19]:
data_GSS

,Respect,Productive,Treated_Unprofessionally,Derogatory_Comments,Reliable_Coworkers
0,2,4,1,2,5
1,5,5,1,1,4
2,4,4,5,4,4
3,5,5,4,4,4
4,4,4,1,1,2
...,...,...,...,...,...
1235,4,2,,,4
1236,4,4,,,1
1237,5,2,,,5
1238,4,4,,,5
1239,4,4,,,5

In [21]:
data_culture['Derogatory_Comments'].groupby(data_culture['Gender']).mean()

Gender
Female    2.949275
Male      2.060124
Other     2.857143
Name: Derogatory_Comments, dtype: float64

In [22]:
data_culture['Gender'].value_counts()

Male      2578
Female     138
Other        7
Name: Gender, dtype: int64